In [6]:
import sqlite3
import psycopg2 #lib used to connect to postgresql

In [21]:
def create_table():
    #postgresql by default comes with a DB named as postgres, hence we replace name of our SQL DB with postgresql DB name.
    #after creating new DB using pgADmin. We change the DB name and replace sqlite3 with psycopg2
    conn=psycopg2.connect("dbname='vatsal_store' user='postgres' password='vatsal' host='localhost' port='5432' ")
    cur=conn.cursor()
    cur.execute('create table if not exists item(id int, name text,qty int, price float)')
    conn.commit()
    conn.close()
    
def insert(idno,name,qty,price):
    conn=psycopg2.connect("dbname='vatsal_store' user='postgres' password='vatsal' host='localhost' port='5432' ")
    cur=conn.cursor()
    cur.execute("insert into item values(%s,%s,%s,%s)",(idno,name,qty,price))
    #this method is used to avoid sql injection attack
    #if we are using sqlite3, instead of %s we write ? and for postgresql we write it as %s
    conn.commit()
    conn.close()



def view():
    conn=psycopg2.connect("dbname='vatsal_store' user='postgres' password='vatsal' host='localhost' port='5432' ")
    cur=conn.cursor()
    cur.execute('select * from item')
    rows=cur.fetchall()
    conn.close()
    return rows




def delete(nameofitem):
    conn=psycopg2.connect("dbname='vatsal_store' user='postgres' password='vatsal' host='localhost' port='5432' ")
    cur=conn.cursor()
    cur.execute('delete from item where name=(?)',(nameofitem,))
    #idk why we added an extra , at the end of the variable we just passed
    conn.commit()
    conn.close()
   
    
def update(idno,qty):
    conn=psycopg2.connect("dbname='vatsal_store' user='postgres' password='vatsal' host='localhost' port='5432' ")
    cur=conn.cursor()
    cur.execute('update item set qty=? where id=?',(qty,idno))
    conn.commit()
    conn.close()

In [11]:
create_table()

In [20]:
insert(1,'milk',1000,41)

In [22]:
view()

[(1, 'milk', 1000, 41.0)]

In [18]:
delete('cup')

In [19]:
view()

[(1, 'maggi', 50, 80.5),
 (1, 'maggi', 50, 80.5),
 (1, 'maggi', 50, 80.5),
 (2, 'glass', 50, 100.0)]

In [31]:
update(1,100)
view()

[(1, 'maggi', 100, 80.5),
 (1, 'maggi', 100, 80.5),
 (1, 'maggi', 100, 80.5),
 (2, 'glass', 1500, 100.0)]

In [30]:
update(2,1500)
view()

[(1, 'maggi', 100, 80.5),
 (1, 'maggi', 100, 80.5),
 (1, 'maggi', 100, 80.5),
 (2, 'glass', 1500, 100.0)]